
@font-face {
  font-family: 'futuretense';
  src: local('Future Tense'), url('/fonts/FutureTense-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background-base: #121212;
  --color-background-highlight: #242424;
  --color-background-subdued: #000000;
  --color-foreground-base: #FFFFFF;
  --color-foreground-subdued: #FFFFFF99;
  --color-accent: #E1C340;
}

.buttonNext::after {
  display: none;
}

button[type="button"] {
  background-color: var(--color-background-base);
  color: var(--color-foreground-base);
  border-color: var(--color-foreground-subdued);
}
button[type="button"]:hover {
  background-color: var(--color-accent);
  color: var(--color-background-base);
}

div[role="dialog"] {
  background-color: var(--color-background-highlight);
}

div[role="tablist"] {
  background-color: black;
}

p.text-sm.text-muted-foreground.text-left {
  color: var(--color-foreground-subdued);
}

div[role="dialog"] input {
  border: none;
  background-color: var(--color-background-highlight);
}
div[role="dialog"] input::placeholder {
  color: var(--color-foreground-subdued);
}

div[role="dialog"] button[type="submit"] {
  background-color: var(--color-accent);
  color: var(--color-background-base);
}
div[role="dialog"] button[type="submit"]:hover {
  background-color: var(--color-foreground-base);
}

button.day-range-start[aria-selected="true"], button.day-range-end[aria-selected="true"],
button.day-range-start[aria-selected="true"]:hover, button.day-range-end[aria-selected="true"]:hover,
button.day-range-start[aria-selected="true"]:focus, button.day-range-end[aria-selected="true"]:focus {
  background-color: var(--color-accent);
}

[id^="react-day-picker-"] {
  color: var(--color-foreground-base);
}

button.text-primary {
  color: var(--color-foreground-base);
}

button.text-gray-600:hover,
button.text-gray-600:focus,
button.text-gray-600:active {
  color: var(--color-background-base);
  background: transparent;
  box-shadow: none;
  outline: none;
}

:focus {
  outline: none !important;
}
a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
[tabindex]:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 2px #3b82f6 !important;
}