@layer components {
    .inputColor {
        @apply text-foreground-base bg-background-highlight;
    } 

    .inputColor::placeholder {
        @apply text-foreground-subdued;
    }

    .inputColor:-webkit-autofill,
    .inputColor:-webkit-autofill:hover,
    .inputColor:-webkit-autofill:focus,
    .inputColor:-webkit-autofill:active {
        -webkit-text-fill-color: theme('colors.foreground.base') !important;
        box-shadow: 0 0 0 1000px theme('colors.background-highlight') inset !important;
        caret-color: theme('colors.foreground.base');
        transition: background-color 5000s ease-in-out 0s;
    }
}