@theme {
    --spacing-contentLg: 2rem;
    --spacing-content: 1.25rem;
    --spacing-contentClose: 0.75rem; 
    --spacing-subTitle: 2rem;
    --spacing-subTitleLg: 3rem;
    --spacing-subSection: 4rem;
    --spacing-subMenu: 4.3rem;
}

.flexCenter {
    @apply flex items-center justify-center;
}