@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: FutureTense;
  src: url("/fonts/FutureTense-Regular.woff2") format("woff2");
}

@theme inline {
  --font-futuretense: FutureTense, sans-serif;
  --font-montserrat: "Montserrat", sans-serif; 
}

h1 { @apply text-5xl uppercase font-futuretense; }

h2 { @apply text-3xl uppercase font-futuretense; }

h3 { @apply text-4xl uppercase font-montserrat; }

.textSubH2 { @apply text-sm uppercase font-futuretense }

p { @apply text-base normal-case font-montserrat; }

.textLead { @apply text-lg uppercase font-futuretense }

.textLeadSmall { @apply text-xs uppercase font-futuretense }

.textSmall { @apply text-xs normal-case font-montserrat; }