@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: FutureTense;
  src: url("/fonts/FutureTense-Regular.woff2") format("woff2");
}

@theme inline {
  --font-futuretense: FutureTense, sans-serif;
  --font-montserrat: "Montserrat", sans-serif; 
}

h1 { @apply text-4xl lg:text-6xl uppercase font-futuretense; }

h2 { @apply text-3xl lg:text-5xl uppercase font-futuretense; }
.textLeadBig  { @apply text-2xl lg:text-6xl uppercase font-futuretense; }

h3 { @apply text-4xl lg:text-6xl uppercase font-montserrat; }

.textSubH2 { @apply text-sm lg:text-base uppercase font-futuretense; }

p { @apply text-base lg:text-xl normal-case font-montserrat; }
.textNormal { @apply text-base lg:text-xl normal-case font-montserrat; }

.textLead { @apply text-lg lg:text-2xl uppercase font-futuretense; }

.textLeadSmall { @apply text-xs lg:text-base uppercase font-futuretense; }

.textSmall { @apply text-xs lg:text-base normal-case font-montserrat; }